/***************************************************************************************/
/*
/*		Author: AS Designing
/*		Author URI: http://www.asdesigning.com
/*		Theme URI: http://www.astemplates.com
/*		
/*		Note: Design for Narrow desktop
/*
/***************************************************************************************/

@media (max-width: 980px) 
{	
	h1,
	h2
	{
		font-size: 22px;
	}
		
	#header-row #logo 
	{
		margin-top: 15px;
	}

	#header-row .logo,
	#header-row .logo a, 
	#header-row .logo a:hover 
	{
		font-size: 20px;
	}
	
	#header-row .logo span.slogan 
	{
		font-size: 10px !important;
		font-style: normal;
		font-weight: normal;
		left: 5px;
		top: 0;
	}
	
	#header-row .mod-search
	{
		padding-left: 0;
	}
	
	#header-row .btn-search
	{
		left: 10px;
	}
	
	#header-row .mod-search_searchword
	{
		
	}
	
	#header-row .moduletable.search input.buttonsearch
	{
		left: 14px;
	}
	
	#logo span.slogan
	{
		display: block;
		left: 59px;
		top: -10px;
		width: auto;
	}
	
	#header-row .call-now .mod-custom
	{
		margin-top: 17px;
	}	
			
	#header-row .moduletable.social.span4
	{
		margin-left: 0px;
		width: auto;
	}
	
	.thumbnails
	{
		margin-left: -12px;
	}
	
	.thumbnails > li
	{
		margin-left: 12px;
	}
	
	.page-category__team .item_introtext
	{
		overflow: visible;
	}

	.navigation ul.sf-menu > li > a, 
	.navigation ul.sf-menu > li > span
	{
		padding: 0 20px;
	}
	
	#slider-row .moduletable.slider
	{
		box-shadow: none !important;
	}
	
	#slider-row .camera_pag
	{
		left: 30px;
	}

	.slide_title
	{
		font-size: 70px;
		letter-spacing: -4px;
		line-height: 44px;
		margin-bottom: 6px;
	}
	
	.cameraContents
	{
	}
	
	.camera_caption a.readmore .arrow
	{
		right: 12px;
		top: 27px;
	}
	
	.camera_caption h2, .camera_caption h1, .camera_caption h3
	{
		font-size: 30px !important;
		line-height: 40px !important;
	}
	
	#featured-row .mod-newsflash-adv .item_num0 .img-intro__right, 
	#featured-row .mod-newsflash-adv .item_num2 .img-intro__right, 
	#featured-row .mod-newsflash-adv .item_num4 .img-intro__right,
	#featured-row .mod-newsflash-adv .item_num0 .img-intro__left, 
	#featured-row .mod-newsflash-adv .item_num2 .img-intro__left, 
	#featured-row .mod-newsflash-adv .item_num4 .img-intro__left,
	#featured-row .mod-newsflash-adv .item_num1 .img-intro__left, 
	#featured-row .mod-newsflash-adv .item_num3 .img-intro__left, 
	#featured-row .mod-newsflash-adv .item_num5 .img-intro__left 
	{
		float: none;
		padding-top: 40px;
	}	

	.body__home .page-blog .bg-row-0::after
	{
		left: -55%;
	}
	
	.body__home .page-blog .bg-row-2::after 
	{
		left: -45%;
	}	
	
	.body__home #content-row-4 .moduletable-wrapper
	{
		margin: 0;
	}
	
	.body__home #main-container
	{
		padding: 60px 0;
	}
	
	.masonry_gallery 
	{
		min-height: 100%;
	}

	.shadow span
	{
		left: 2%;
		width: 96%;
	}
	
	.mod-newsflash-adv__links .item_content h2
	{
		line-height: 30px;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	aside .mod-search input.inputbox 
	{
	    width: 180px;
	}

	aside .mod-search button.btn.btn-search 
	{
		margin-top: 15px;
		padding: 5px 10px 4px;
	}	
	
	#footer-row .moduletable.social li a 
	{
		font-size: 30px;
		height: 60px;
		width: 60px;
		line-height: 60px;
	}	
	
	
			
	#back-top
	{
		display: none !important;
	}
	
	/*************** Virtue Mart ********************************************************/
	
	.vm-col-2
	{
		margin: 4px !important;
	}
	
	.vm-col-3
	{
		margin: 4px !important;
	}
	
	.vm-col-4
	{
		margin: 3px !important;
		width: 48%;
	}
	
	.category-view .category
	{
		width: 50%;
		text-align: center;
	}
	
}